---
 layout: default
 title: Activities
---


{% include title-activities.html  %}


<!-- Liste des activités -->
<section id="content">
<div id="section-formation" class="center justify-content-center col-md-12  page-section mt">
    <div class="row justify-content-center col-md-12  col-mb-50">
        <p class="text-larger mb-3 justify-content-center text-center">Les activités constituent pour les
            étudiants une opportunité pour sortir de la routine quotidienne et aussi pour garder contact
            avec l'environnement externe.
            Pour cela SOLICODE organise durant l'année des activités extra.  eeee</p>


        <div class="clear my-0,5"></div>

        <div class="clear my-3"></div>

    </div>
    <!-- Image activites start-->
    <div>
        <section id="content" class="clearfix"
            data-scrollto-settings="{&quot;offset&quot;:0,&quot;speed&quot;:1250,&quot;easing&quot;:&quot;easeOutQuad&quot;}">

            <div class="content-wrap">
                <div class="container dark clearfix">


                    <!-- Grid Items
                ============================================= -->
                    <div class="row grid grid-container gutter-20 has-init-isotope grid--loaded"
                        style="position: relative; height: 2701.05px;">
                        {% for activity in site.activities  %}
                        <div class="grid-item col-12 col-sm-6 col-md-5 col-lg-4" data-size="1280x853"
                            style="position: absolute; left: 0%; top: 0px; transition: none 0s ease 0s; transform: none; opacity: 1;">
                            <a href="{{ activity.image }}"
                                class="img-wrap  fadeInUp animated shadow" data-animate="fadeInUp"
                                >
                                <img src="{{ activity.image }}" alt="img01">
                                <div class="description description-grid">
                                    <h3 style="color:#F2B705;"><a href="{{ activity.url }}">{{ activity.title  }} </a> </h3>
                                    <p class="text-left">{{ activity.content | markdownify |  remove: '<p>' | remove: '</p>' }}</p>
                                    <div class="details">
                                        <ul>
                                            <li><i class="icon icon-map-marker2"></i><span
                                                    class="text-uppercase">{{ activity.location }}</span></li>
                                            <li><i class="icon icon-calendar3"></i><span>{{ activity.date | date: "%b %-d, %Y"}}</span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}


                    </div>
                    <!-- /grid -->
                    <div class="preview">
                        <button class="action action-close"><i class="icon-line2-close"></i><span
                                class="text-hidden">Close</span></button>
                        <div class="description description-preview"></div>
                        <img class="clone"
                            src="file:///C:/Users/admin/Desktop/solicode%20template/themeforest-hT5p7GXX-canvas-the-multipurpose-html5-template/Package-HTML/HTML/demos/photography/images/items/1.jpg"
                            style="opacity: 0; width: 255px; height: 170px; top: 187.333px; left: 91.6667px; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);">
                    </div>
                </div>

                <div class="clear"></div>



                <div class="clear"></div>


            </div>
        </section>

    </div>
    <!-- Image activites end -->

</div>

</section>

<script>
    (function() {
        var support = { transitions: Modernizr.csstransitions },
            // transition end event name
            transEndEventNames = { 'WebkitTransition': 'webkitTransitionEnd', 'MozTransition': 'transitionend', 'OTransition': 'oTransitionEnd', 'msTransition': 'MSTransitionEnd', 'transition': 'transitionend' },
            transEndEventName = transEndEventNames[ Modernizr.prefixed( 'transition' ) ],
            onEndTransition = function( el, callback ) {
                var onEndCallbackFn = function( ev ) {
                    if( support.transitions ) {
                        if( ev.target != this ) return;
                        this.removeEventListener( transEndEventName, onEndCallbackFn );
                    }
                    if( callback && typeof callback === 'function' ) { callback.call(this); }
                };
                if( support.transitions ) {
                    el.addEventListener( transEndEventName, onEndCallbackFn );
                }
                else {
                    onEndCallbackFn();
                }
            };

        $('.grid-container').one( 'layoutComplete', function(){
            new GridFx(document.querySelector('.grid'), {
                imgPosition : {
                    x : -0.5,
                    y : 1
                },
                onOpenItem : function(instance, item) {
                    instance.items.forEach(function(el) {
                        if(item != el) {
                            var delay = Math.floor(Math.random() * 50);
                            el.style.WebkitTransition = 'opacity .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1), -webkit-transform .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1)';
                            el.style.transition = 'opacity .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1), transform .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1)';
                            el.style.WebkitTransform = 'scale3d(0.1,0.1,1)';
                            el.style.transform = 'scale3d(0.1,0.1,1)';
                            el.style.opacity = 0;
                        }
                    });
                },
                onCloseItem : function(instance, item) {
                    instance.items.forEach(function(el) {
                        if(item != el) {
                            el.style.WebkitTransition = 'opacity .4s, -webkit-transform .4s';
                            el.style.transition = 'opacity .4s, transform .4s';
                            el.style.WebkitTransform = 'scale3d(1,1,1)';
                            el.style.transform = 'scale3d(1,1,1)';
                            el.style.opacity = 1;

                            onEndTransition(el, function() {
                                el.style.transition = 'none';
                                el.style.WebkitTransform = 'none';
                            });
                        }
                    });
                }
            });
        });

    })();

</script>