---
layout: revolution
---

{% include hackaton-2022/slider-hackaton.html   %}

{% include hackaton-2022/hackaton-2022-page-menu.html %}



<section id="content">
	<div class="content-wrap py-0">
		<!-- file:///E:/D%C3%A9veloppement/Themes/canvas-the-multipurpose-html5-template/Package-HTML/HTML/index-parallax.html -->
		
		{% include sponsors.html  %}
		
		{% include section-apropos.html data = site.data.hackaton_2022.section-apropos-hackaton %}
		{% include component/component-video-text.html reference='section_description' data=site.data.hackaton_2022.section_description  %}
	 
 
		<!-- {% include section-chiffres.html data = site.data.hackaton_2022.section-chiffres %} -->


	
<div class="section lazy mt-5 mb-0 p-0 min-vh-75 entered lazy-loaded" 
data-bg="https://source.unsplash.com/7aakZdIl4vg/1920x1080" 
style="background-position: center center; background-repeat: no-repeat; background-size: cover; background-image: url(&quot;https://source.unsplash.com/7aakZdIl4vg/1920x1080&quot;);" data-ll-status="loaded">
					
<div class="shape-divider" data-shape="cliff" data-height="150" data-flip-vertical="true" id="shape-divider-5405"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 279.24" preserveAspectRatio="none" class="op-ts op-1"><path class="shape-divider-fill" d="M1000 0S331.54-4.18 0 279.24h1000z" opacity="0.25"></path><path class="shape-divider-fill" d="M1000 279.24s-339.56-44.3-522.95-109.6S132.86 23.76 0 25.15v254.09z"></path></svg></div>
</div>

{% include hackaton-2022/rappel-action.html  %}

	</div>
</section>





