<footer id="footer" class="dark" data-scrollto-settings="{&quot;offset&quot;:100,&quot;speed&quot;:1250,&quot;easing&quot;:&quot;easeOutQuad&quot;}">

	<!-- Copyrights
	============================================= -->
<div id="copyrights">
	<div class="container">

		<div class="row">

			<div class="col-md-12  text-center text-md-center">
				<div class="d-flex justify-content-center justify-content-md-center">
					<!-- Logo -->
					<div id="logo" class=" w-100 d-flex justify-content-center ">
					<a href="index.html" class="standard-logo " data-dark-logo="{{site.baseurl}}/css/one-page/images/logo-footer.svg"><img
							src="{{site.baseurl}}/css/one-page/images/logo-footer.svg" alt="SOLICODE Logo"></a>
					<a href="index.html" class="retina-logo" data-dark-logo="{{site.baseurl}}/css/one-page/images/logo-footer.svg"><img
							src="{{site.baseurl}}/css/one-page/images/logo-footer.svg" alt="SOLICODE Logo"></a>
					</div>
					<!-- #logo end -->
				</div>
			</div>

				<div class="col-md-5 text-md-left pl-6 bottommargin-sm">
		
					<div class="copyright-links">
						<div class="mb-1">
							<a  href="https://www.google.com/maps/place/SOLICODE+Tanger/@35.7463336,-5.825534,15z/data=!4m5!3m4!1s0x0:0x48bdf85995e9c186!8m2!3d35.7463336!4d-5.825534" target="_blank">Adresse: </a>  <span>Bni Waryaghel 90000 Tanger, Maroc</span>
							
						</div>								
						<div class="mb-1">
							<a href="mailto:Info@Solicode.co">Email: </a> <span>Info@Solicode.co</span>
						</div>								
						<div>
							<a href="tel: +212699499626">T&eacute;l: </a> <span>+212(05) 39 - 308 885</span>
						</div>							
					</div>
				</div>
				
				<div class="col-md-4 col-6 pl-6 text-md-left">
		
					<div class="widget widget_links subscribe-widget clearfix" data-loader="button">

						<div class="widget-subscribe-form-result">

							<ul class="footer-site-links mb-0">
								<li><a href="index.html" data-easing="easeInOutExpo" data-speed="1250"
										data-offset="70">Accueil</a></li>
								<li><a href="index.html#section-apropos">Solicode
									</a></li>
								<li><a href="index.html#section-formation" data-easing="easeInOutExpo"
										data-speed="1250" data-offset="70">Formations</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-3 col-6 pl-6 text-md-left">
		
					<div class="widget widget_links subscribe-widget clearfix" data-loader="button">

						<div class="widget-subscribe-form-result">

							<ul class="footer-site-links mb-0">
								<li><a href="activites.html" data-easing="easeInOutExpo" data-speed="1250"
										data-offset="70">Activit&eacute;s</a></li>
								<li><a href="index.html#section-contact" data-easing="easeInOutExpo"
										data-speed="1250" data-offset="70">Contact</a></li>
								<li class="text-white"><a href="inscription.html" data-easing="easeInOutExpo"
										data-speed="1250" data-offset="70">Inscription</a></li>

							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-12 text-center text-md-center mt-3">
					<a target="_blank" href="mailto:Info@Solicode.co">
						<i class="icon-envelope2"></i> 
						Info@Solicode.co </a> <span class="middot">&#124;</span> 
					<a class="text-white" target="_blank" href="https://wa.me/212652791257"> 
						<i class="icon-whatsapp"></i> 
							06 52 791 257</a>
					<div class="clear">
					</div>

					<div class="d-flex justify-content-center mb-4">
						<a target="_blank" href="https://www.facebook.com/SOLICODEtanger" class="social-icon si-small si-borderless si-facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>

						<a target="_blank" href="https://www.twitter.com/SOLICODEtanger/" class="social-icon si-small si-borderless si-twitter">
							<i class="icon-twitter"></i>
							<i class="icon-twitter"></i>
						</a>

						<a target="_blank" href="https://www.linkedin.com/company/solicode-tanger/" class="social-icon si-small si-borderless si-linkedin">
							<i class="icon-linkedin"></i>
							<i class="icon-linkedin"></i>
						</a>
														
						<a target="_blank" href="https://www.instagram.com/SOLICODEtanger/" class="social-icon si-small si-borderless si-instagram">
							<i class="icon-instagram"></i>
							<i class="icon-instagram"></i>
						</a>

					</div>


				</div>

			</div>

		</div>
	</div>
	<!-- #copyrights end -->

</footer>
	


