<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheet -->
	<link
		href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:300,400,500,700|IBM+Plex+Serif:300,400,500,600&display=swap"
		rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/style.css" type="text/css" />

	<!-- One Page Module Specific Stylesheet -->
    <link rel="stylesheet" href="{{site.baseurl}}/css/aos.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/one-page/onepage.css" type="text/css" />
    
	<!-- / -->

	<link rel="stylesheet" href="{{site.baseurl}}/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/one-page/css/et-line.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/magnific-popup.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/youtube-overlay.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/swiper.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/timeline.min.css" type="text/css" />

	<!-- Photography Specific Stylesheet -->
    <link rel="stylesheet" href="{{site.baseurl}}/demos/landing/landing.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/demos/photography/photography.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/demos/photography/css/photography-addons.css" type="text/css" />
	<!-- / -->

	<link rel="stylesheet" href="{{site.baseurl}}/css/one-page/css/fonts.css" type="text/css" />

	<link rel="stylesheet" href="{{site.baseurl}}/css/custom.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/colors.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	
	<!-- Document Title -->
    <link rel="icon" type="image/png" sizes="30x30" href="{{site.baseurl}}/images/solicode_favicon_yellow.svg">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
</head>
