<div id="page-menu" class="dots-menu dots-menu-border">
    <div id="page-menu-wrap">
      <div class="container">
        <div class="page-menu-row">
  
          <div class="page-menu-title">Explore <span>CANVAS</span></div>
  
          <nav class="page-menu-nav">
            <ul class="page-menu-container one-page-menu" data-offset="0">
              <li class="page-menu-item"><a href="#" data-href="#header"><div>Home</div></a></li>
              <li class="page-menu-item"><a href="#" data-href="#section-about"><div>About</div></a></li>
              <li class="page-menu-item"><a href="#" data-href="#section-work"><div>Work</div></a></li>
              <li class="page-menu-item"><a href="#" data-href="#section-services"><div>Services</div></a></li>
              <li class="page-menu-item"><a href="#" data-href="#section-video"><div>Video</div></a></li>
              <li class="page-menu-item"><a href="#" data-href="#section-testimonials"><div>Testimonials</div></a></li>
              <li class="page-menu-item"><a href="#" data-href="#section-contact"><div>Contact</div></a></li>
            </ul>
          </nav>
  
          <div id="page-menu-trigger"><i class="icon-reorder"></i></div>
  
        </div>
      </div>
    </div><div class="page-menu-wrap-clone" style="height: 224px;"></div>
  </div>
  