 <header id="header" class="transparent-header header-size-sm dark" data-sticky-class="not-dark" data-responsive-class="not-dark" data-menu-padding="28">
    <div id="header-wrap" class="">
        <div class="container">
            <div class="header-row">
                <img src="/Content/SoliCode/images/logo/logo_ofppt.png" alt="OFPPT" style="width:80px;margin-right: 10px;">
                <div id="logo">


                    <a href="/" class="standard-logo " data-dark-logo="/Content/SoliCode/images/logo/solicode.png">

                        <img src="/Content/SoliCode/images/logo/solicode.png" alt="SoliCode">

                    </a>
                    <a href="/" class="retina-logo" data-dark-logo="/Content/SoliCode/images/logo/solicode.png"><img src="/Content/SoliCode/images/logo/solicode.png" alt="SoliCode"></a>
                </div>

                <div id="primary-menu-trigger">
                    <svg class="svg-trigger" viewBox="0 0 100 100"><path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path><path d="m 30,50 h 40"></path><path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path></svg>
                </div>



                <!-- Primary Navigation
    ============================================= -->
                <nav class="primary-menu style-4 menu-spacing-margin">

                    <ul class="menu-container one-page-menu" data-speed="2250" data-offset="65" style="">
                        <li class="menu-item current">
                            <a class="menu-link " href="/"><div>Accueil</div></a>
                        </li>
                        <li class="menu-item">
                            <a href="/#section-about" class="menu-link" data-href="#section-about"><div>SoliCode</div></a>
                        </li>

                        <li class="menu-item ">
                            <a class="menu-link" href="/activites"><div>Activités </div></a>
                        </li>

                        
                        <li class="menu-item ">
                            <a class="menu-link " href="/contact"><div>Où nous trouver </div></a>
                        </li>
                        <li class="menu-item ">

                            <a href="/inscription" class="button rounded-pill bg-color-2 button-light  font-weight-medium m-0">Inscris-toi</a>
                        </li>
                    </ul>



                </nav><!-- #primary-menu end -->

                <div class="d-none d-lg-block">
                    <img src="/Content/SoliCode/images/logo/logo_fm5.png" alt="Fondaction mohamed 5" style="width:80px;margin-left: 10px;">
                </div>
                
            </div>
        </div>
    </div>
    <div class="header-wrap-clone" style="height: 101px;"></div>
</header>

