<nav class="primary-menu style-5">

  <ul class="one-page-menu menu-container" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
    <li class="menu-item {% if page.url == '/' %}current{% endif %}">
      <a class="menu-link" href="{{site.baseurl}}/" data-href="#wrapper" style="padding-top: 27px; padding-bottom: 27px;">
        <div><i class="icon-home2"></i>Accueil<i class="icon-angle-down"></i></div>
      </a>
    </li>

    <li class="menu-item {% if page.url == '/' %}current{% endif %}">
      <a class="menu-link" href="#section-apropos" data-href="#section-apropos" style="padding-top: 27px; padding-bottom: 27px;">
        <div><i class="icon-bulb"></i>SoliCode<i class="icon-angle-down"></i></div>
      </a>
    </li>
    

    <li class="menu-item {% if page.url == '/blog' %}current{% endif %}">
      <a class="menu-link" href="#section-formation" data-href="#section-formation" style="padding-top: 27px; padding-bottom: 27px;">
        <div><i class="icon-code"></i>Formation<i class="icon-angle-down"></i></div>
      </a>
    </li>
   

   <li class="menu-item {% if page.url == '/blog' %}current{% endif %}">
    <a class="menu-link" href="#section-contact" data-href="#section-contact" style="padding-top: 27px; padding-bottom: 27px;">
      <div><i class="icon-map-marker1"></i>Contact<i class="icon-angle-down"></i></div>
    </a>
  </li>
  


  </ul>
</nav>
 