<nav class="primary-menu style-5">


  <ul class="one-page-menu menu-container" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
    <li class="menu-item current">
      <a href="index.html" class="menu-link" data-href="#wrapper">
        <div>ACCUEIL</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="#section-apropos" class="menu-link" data-href="#section-apropos">
        <div>SOLICODE</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="" class="menu-link" data-href="#section-formation">
        <div>FORMATIONS</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="#" class="menu-link" data-href="#section-contact">
        <div>CONTACT</div>
      </a>
    </li>
  </ul>




  <ul class="menu-container one-page-menu" data-easing="easeInOutExpo" data-speed="1500">


    <li class="menu-item {% if page.url == '/' %}current{% endif %}">
      <a class="menu-link" href="/" data-href="#home" style="padding-top: 27px; padding-bottom: 27px;">
        <div><i class="icon-home2"></i>Accueil<i class="icon-angle-down"></i></div>
      </a>
    </li>


    




    
    <li class="menu-item sub-menu {% if page.url == '/formations' %}current{% endif %}">
      <a class="menu-link" href="/formations" style="padding-top: 27px; padding-bottom: 27px;">
        <div><i class="icon-user-graduate"></i>Formations<i class="icon-angle-down"></i></div></a>
      <ul class="sub-menu-container" style="">

        {% assign formation_ordered = site.formations | sort : "order"  %}
        


        {% for item in formation_ordered %}
        <li class="menu-item" style="">
          <a class="menu-link" href="{{ item.url }}"><div>{{ item.link_title }}</div></a>
        </li>
        {% endfor %}
      </ul>
     <button class="sub-menu-trigger icon-chevron-right"></button>
   </li>

   <li class="menu-item {% if page.url == '/blog' %}current{% endif %}">
    <a class="menu-link" href="/blog" style="padding-top: 27px; padding-bottom: 27px;">
      <div><i class="icon-pencil2"></i>Blog<i class="icon-angle-down"></i></div>
    </a>
  </li>


  </ul>
</nav>
 