<ul class="process-steps process-3 row col-mb-30 justify-content-center mb-4">
    <li class="col-sm-6 col-lg-3">
        <a href="#" class="i-bordered i-rounded mx-auto">1</a>
        <h5>Review Cart</h5>
    </li>
    <li class="col-sm-6 col-lg-3 active">
        <a href="#" class="i-rounded i-alt mx-auto bg-color">2</a>
        <h5>Complete Payment</h5>
    </li>
    <li class="col-sm-6 col-lg-3">
        <a href="#" class="i-bordered i-rounded mx-auto">3</a>
        <h5>Order Complete</h5>
    </li>
</ul>