{%  assign data = site.data.section-activites %}
<section id="section-activites" class="center page-section mt-5 pt-4  bg-transparent m-0" data-onepage-settings="{&quot;offset&quot;:65,&quot;speed&quot;:&quot;1250&quot;,&quot;easing&quot;:&quot;easeInOutExpo&quot;}" data-scrollto-settings="{&quot;offset&quot;:70,&quot;speed&quot;:&quot;1250&quot;,&quot;easing&quot;:&quot;easeInOutExpo&quot;}">
    <div class="container clearfix">
        <div class="fancy-title title-border title-center">
           <h2>{{data.titre}}</h2>
         </div>

         <div data-aos="fade-right" class="row p-4 align-items-stretch shadow aos-init aos-animate">
            <div class="col-md-6 text-justify">
                <div class="vertical-middle">
                    {{data.description | markdownify}}
                    <div class="text-center text-lg-left ">
                        <!-- <a href="{{data.button-lien}}" class="button button-border button-rounded button-large ml-0 bottommargin-sm">
                            {{data.button-label}}
                        </a> -->
                    </div>
                </div>
                
            </div>
            <div class="col-md-6 center">
                <div class=" vertical-middle">
              
                    <img data-aos="fade-right" src="{{site.baseurl}}/{{data.image}}" alt="{{data.button-label}}" class="aos-init aos-animate">
                </div>
            </div>
        </div>
   </div>
</section>