<section id="section-formation" class="center page-section topmargin-lg  bg-transparent m-0" data-onepage-settings="{&quot;offset&quot;:65,&quot;speed&quot;:&quot;1250&quot;,&quot;easing&quot;:&quot;easeInOutExpo&quot;}" data-scrollto-settings="{&quot;offset&quot;:70,&quot;speed&quot;:&quot;1250&quot;,&quot;easing&quot;:&quot;easeInOutExpo&quot;}">
    <div class="container clearfix">
        <div class="fancy-title title-border title-center">
            <h2>Formations</h2>
          </div>
 
        <!-- Drag the code here -->
        <div class="row mt-5 clearfix">
            <div data-aos="zoom-out" class="col-sm-12 col-md-6 col-lg-6 mb-5 aos-init aos-animate">
                <div class="flip-card text-center">
                    <div class="flip-card-front dark" style="background-image: url('{{site.baseurl}}/images/web_illustrations.png')">
                        <div class="flip-card-inner">
                            <div class="card  border-0 text-center">
                                <div class="card-body bg-warning shadow">
                                    <h2 class="card-text font-weight-normal text-white">DEVELOPPEMENT WEB</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card-back bg-primary no-after">
                        <div class="flip-card-inner">
                            <h4 class="text-white">DEVELOPPEMENT WEB</h4>
                            <p class="mb-4 text-white ">Le développeur / la développeuse web réalise l’ensemble des fonctionnalités techniques d’un site ou d'une application web</p>
                           <a href="formations-d-web.html" class="button button-border button-light">PLUS
                            D'INFO</a>
                        </div>
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="col-sm-12 col-md-6 col-lg-6 aos-init aos-animate">
                <div class="flip-card text-center">
                    <div class="flip-card-front  dark" style="background-image: url('{{site.baseurl}}/images/mobile_illustrations.png')">
                        <div class="flip-card-inner">
                            <div class="card  border-0 text-center">
                                <div class="card-body bg-primary shadow">
                                    <h2 class="card-text font-weight-normal text-white">DEVELOPPEMENT MOBILE</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card-back bg-warning no-after">
                        <div class="flip-card-inner">
                            <h4 class="text-white">DEVELOPPEMENT MOBILE</h4>
                            <p class="mb-4 text-white">Le développeur mobiles effectue la réalisation technique et le développement informatique d’applications pour mobiles, smartphones et autres tablettes.</p>
                            <a href="formations-d-mobile.html" class="button button-border button-light">PLUS
                            D'INFO</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    
    
    </div>
</section>