<section id="section-about" class=" page-section topmargin-sm m-0" >
    <div class="container clearfix">
     <div class="center page-section">
  
      <div class="row clearfix">
        <div data-aos="fade-right" class="col-lg-6 p-0 aos-init aos-animate">
          
            <img id="solicodevid" src="{{site.baseurl}}/images/video.jpg" data-videourl="https://www.youtube.com/embed/sp6Dnvjm-s8" alt="Youtube Video" style="box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.15); border-radius: 6px;">
            <i id="solicodevid2" data-videourl="https://www.youtube.com/embed/sp6Dnvjm-s8" class="icon-play" style="position: absolute; top: 50%; left: 50%; font-size: 60px; color: #fff; margin-top: -45px; margin-left: -23px"></i>
          
        </div>
        <div data-aos="fade-left" class="col-lg-6 col-md-12 p-4 text-center shadow aos-init aos-animate">
          <h1 class="">C'est Quoi SOLICODE ?</h1>
          <p class="text-justify">SOLICODE est une école inclusive ouverte aux jeunes motivés et intéressés par les métiers du Digital.
            Aucune connaissance technique préalable n'est exigée , 
            par ailleurs considère l'apprenant comme étant responsable de sa formation.
            C'est lui qui construit ses savoirs à travers des situations de recherche et de projets,
            enfin SolidCode favorise le travail en groupe. Ainsi, les apprenants avancent ensemble vers un même objectif dans un climat de confiance et d'ouverture.</p>
        </div>
      </div>
     </div>
    
  
    </div>
  </section>
  
  