{% assign data = site.data.section-formations %}
<section id="section-formation" class="center page-section  mt-5 pt-4  bg-transparent m-0" data-onepage-settings="{&quot;offset&quot;:65,&quot;speed&quot;:&quot;1250&quot;,&quot;easing&quot;:&quot;easeInOutExpo&quot;}" data-scrollto-settings="{&quot;offset&quot;:70,&quot;speed&quot;:&quot;1250&quot;,&quot;easing&quot;:&quot;easeInOutExpo&quot;}">
    <div class="container clearfix">
        <div class="fancy-title title-border title-center">
            <h2>{{data.titre}}</h2>
        </div>
        <div class="row mt-5 clearfix">

            {% for formation in data.formations %}
            <div data-aos="zoom-out" class="col-sm-12 col-md-6 col-lg-6 aos-init aos-animate">
                <div class="flip-card text-center">
                    <div class="flip-card-front dark" style="background-image: url('{{site.baseurl}}/{{formation.image}}')">
                        <div class="flip-card-inner">
                            <div class="card  border-0 text-center">
                                <div class="card-body bg-warning shadow">
                                    <h2 class="card-text font-weight-normal text-white">{{formation.titre}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card-back bg-primary no-after">
                        <div class="flip-card-inner">
                            <h4 class="text-white">{{formation.titre}}</h4>
                            <p class="mb-4 text-white ">
                                {{formation.description | markdownify}}
                            </p>
                           <!-- <a href="{{site.baseurl}}/{{formation.button-lien}}" class="button button-border button-light">{{formation.button-label}}</a> -->
                           <!-- Removed by adnane https://github.com/tba-adnan -->
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>