{% assign data = site.data.section-contact %}
<section id="section-contact" class="section-contact center  page-section mt-0 py-4 " data-onepage-settings="{&quot;offset&quot;:65,&quot;speed&quot;:&quot;1250&quot;,&quot;easing&quot;:&quot;easeInOutExpo&quot;}" data-scrollto-settings="{&quot;offset&quot;:70,&quot;speed&quot;:&quot;1250&quot;,&quot;easing&quot;:&quot;easeInOutExpo&quot;}">
<div class="container clearfix">
     <div class="fancy-title title-border title-center">
        <h2>{{data.titre}}</h2>
      </div>
      <div class="row align-items-stretch col-mb-50 flex-column-reverse flex-md-row">
        <div class="col-md-6 min-vh-50">
            <div class="fluid-width-video-wrapper" style="padding-top: 75%;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.1819013774953!2d-5.827722685510491!3d35.74633358017912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd0b87c216892bc7%3A0x48bdf85995e9c186!2sSolicode%20Tanger!5e0!3m2!1sfr!2sma!4v1621944120029!5m2!1sfr!2sma" style="border:0;" allowfullscreen="" loading="lazy" id="fitvid0"></iframe></div>
        </div>
        <div class="col-md-6 ">
            <div class="row col-mt-50 mb-0">
                <div class=" vertical-middle">
                    <div class="col-md-12 text-justify">
                        {{data.description | markdownify}}
                        <div class="row col-mb-50 mb-0 text-left">
                            <div class="col-md-6">
                                <address>
                                    <strong>Adresse:</strong> <br>
                                    {{data.adresse}}
                                </address>
                                <strong>Email: </strong> {{data.email}}
                            </div>
                            <div class="col-md-6">
                                <strong>Portable: </strong> {{data.portable}}<br>
                                <strong>Fixe: </strong> {{data.fixe}}<br>
                                
                            </div>
                        </div>
                    </div> 
                </div>

                
            
            </div>

            <!-- Modal Contact Form
            ============================================= -->
            <a href="mailto:{{data.email}}" class="button button-3d m-0 btn-block button-xlarge d-none d-md-block center">
                {{data.action-label}}
            </a>										
        
            <!-- Modal Contact Form End -->

        </div>
    </div>

</div>
</section>