{% assign data = site.data.section-c-est-quoi-solicode %}
<section id="section-about" class=" page-section topmargin-sm m-0" >
    <div class="container clearfix">
     <div class="center page-section">
      <div class="row clearfix">
        <div data-aos="fade-right" class="col-lg-6 p-0 aos-init aos-animate">
            <img id="solicodevid" src="{{site.baseurl}}/images/video.jpg" data-videourl="{{data.video}}" alt="Youtube Video" style="box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.15); border-radius: 6px;">
            <i id="solicodevid2" data-videourl="{{data.video}}" class="icon-play" style="position: absolute; top: 50%; left: 50%; font-size: 60px; color: #fff; margin-top: -45px; margin-left: -23px"></i>
          
        </div>
        <div data-aos="fade-left" class="col-lg-6 col-md-12 p-4 text-center shadow aos-init aos-animate">
          <h1 class="">{{data.titre}}</h1>
          {{data.description | markdownify }}
        </div>
      </div>
     </div>
    
  
    </div>
  </section>
  
  