{% assign data = include.data %}
<section id="section-apropos" class=" page-section mt-5 pt-4  bg-transparent m-0" data-onepage-settings="{&quot;offset&quot;:0,&quot;speed&quot;:1250,&quot;easing&quot;:&quot;easeOutQuad&quot;}">
  <div class="container clearfix">
    <div class="fancy-title title-border title-center">
      <h2>{{data.titre}}</h2>
    </div>
    <div class="row col-mb-50 mb-0">
      {% for colonne in data.colonnes %}
      <div class="col-sm-6 col-lg-4">
        <div class="feature-box fbox-plain fbox-center">
          <div class="fbox-icon bounceIn animated" data-animate="bounceIn">
            <i class="{{colonne.icone}}"></i>
          </div>
          <div class="fbox-content bounceIn animated">
            <h3>{{colonne.titre}}</h3>
            <p class="text-justify">
              {{colonne.description | markdownify}}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>



 
 
 