<section id="section-apropos" class=" page-section topmargin-lg toppadding-sm  bg-transparent m-0" data-onepage-settings="{&quot;offset&quot;:0,&quot;speed&quot;:1250,&quot;easing&quot;:&quot;easeOutQuad&quot;}">
  <div class="container clearfix">
    <div class="fancy-title title-border title-center">
      <h2>À PROPOS.</h2>
    </div>
    <div class="row col-mb-50 mb-0">
      <div class="col-sm-6 col-lg-4">
        <div class="feature-box fbox-plain fbox-center">
          <div class="fbox-icon bounceIn animated" data-animate="bounceIn">
            <i class="icon-infinity"></i>
          </div>
          <div class="fbox-content bounceIn animated">
            <h3>APPRENDRE SANS BARRIÈRE</h3>
            <p class="text-justify">Bienvenue à SOLICODE quel que soit votre niveau d’étude. 
              Nous valorisons la passion pour la technologie et l’envie d'apprentissage</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="feature-box fbox-plain fbox-center">
          <div class="fbox-icon bounceIn animated" data-animate="bounceIn">
            <i class="icon-lightbulb1"></i>
          </div>
          <div class="fbox-content bounceIn animated">
            <h3>MÉTHODOLOGIE INNOVANTE</h3>
            <p>La méthode de formation à SOLICODE est une pedagogie active et par projets où l'apprenant se trouve dans des situations réels ce qui garantit une insertion professionnel. L'apprenant est accompagné par des formateurs référants experts durant toute la periode de formation.</p>
          </div>
      </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="feature-box fbox-plain fbox-center">
          <div class="fbox-icon bounceIn animated" data-animate="bounceIn">
            <i class="icon-line-circle-check"></i>
          </div>
          <div class="fbox-content bounceIn animated">
            <h3>FORMATION INTENSIVE</h3>
            <p class="">Le centre SOLICODE est dotée des moyens pédagogiques et techniques, favorisant l’apprentissage et la pratique des connaissances dans les meilleures conditions. a SOLICODE la formation offerte est axée sur les technologies digitales les plus demandées du marché.</p>
          </div>
      </div>
      </div>

    </div>

  </div>
</section>



 
 
 