<section id="slider" class="slider-element slider-parallax swiper_wrapper min-vh-60 min-vh-md-100 include-header">
    <div class="slider-inner">

        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="container">
                        <div class="slider-caption  ">
                            <h2 data-animate="fadeInUp" >Développement Web et Mobile</h2>
                            <p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">
                               
                                SoliCode est une formation 100% gratuite en développement Web et Mobile
                            </p>
                            <p  data-animate="fadeInUp" data-delay="200">
                                <a href="{{site.baseurl}}/inscription" class="button button-3d  button-large button-rounded button-yellow  button-light   ">Inscription</a>

    


                            </p>
                           
                        </div>
                    </div>
                    <div class="swiper-slide-bg" style="background-image: url('{{site.baseurl}}/images/slides/slide1.jpg');"></div>
                </div>
            </div>
            <div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
            <div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
        </div>
        <a href="#" data-scrollto="#content" data-offset="100" class="one-page-arrow dark"><i class="icon-angle-down infinite animated fadeInDown"></i></a>
    </div>
</section>