<section id="solicode-en-chiffre" class="center section bg-transparent m-0">
    <div class="container clearfix">
        
        <div class="fancy-title title-border title-center">
            <h2>SOLICODE EN CHIFFRES</h2>
          </div>

        <div class="row col-mb-50">
            <div class="col-6 col-lg-3 text-center">
                <i class="i-plain i-xlarge mx-auto mb-0 icon-users"></i>
                <div class="counter counter-large" style="color: #3945ba"><span data-from="1" data-to="12" data-refresh-interval="50" data-speed="1000">12</span></div>
                <h5>STAFF</h5>
            </div>

            <div class="col-6 col-lg-3 text-center">
                <i class="i-plain i-xlarge mx-auto mb-0 icon-laptop-code"></i>
                <div class="counter counter-large" style="color: #3945ba"><span data-from="1" data-to="30" data-refresh-interval="50" data-speed="2000">30</span></div>
                <h5>Projets</h5>
            </div>

            <div class="col-6 col-lg-3 text-center">
                <i class="i-plain i-xlarge mx-auto mb-0 icon-user-graduate"></i>
                <div class="counter counter-large" style="color: #3945ba"><span data-from="1" data-to="120" data-refresh-interval="50" data-speed="2000">120</span></div>
                <h5>Apprenants</h5>
            </div>

            <div class="col-6 col-lg-3 text-center">
                <i class="i-plain i-xlarge mx-auto mb-0 icon-line2-cup"></i>
                <div class="counter counter-large" style="color: #3945ba"><span data-from="1" data-to="483" data-refresh-interval="30" data-speed="2000">483</span></div>
                <h5>Verres d'ATAY</h5>
            </div>
        </div>

    </div>
</section>