<section id="section-sponsors" class=" page-section topmargin-lg toppadding-sm  bg-transparent m-0" data-onepage-settings="{&quot;offset&quot;:0,&quot;speed&quot;:1250,&quot;easing&quot;:&quot;easeOutQuad&quot;}">
  <div class="container clearfix">
    <div class="fancy-title title-border title-center">
      <h2>Sponsors</h2>
    </div>
    <div class="row col-mb-50 mb-0 justify-content-center align-items-center">

        <div class="col-md-4 col-lg-3">
            <img src="{{site.baseurl}}/images/hackaton-2022/sponsors/ofppt-logo.svg" alt="OFPPT">
        </div>
        <div class="col-md-4 col-lg-3">
            <img src="{{site.baseurl}}/images/hackaton-2022/sponsors/simplon-logo.png" alt="Simplon">
        </div>
        <div class="col-md-4 col-lg-3">
            <img src="{{site.baseurl}}/images/hackaton-2022/sponsors/fondation-logo.svg" alt="Fondation">
        </div>
        <div class="col-md-4 col-lg-3">
          <img src="{{site.baseurl}}/images/hackaton-2022/sponsors/logo-foliatech.png" alt="Foliatech">
      </div>
    </div>
  </div>
</section>



 
 
 


