<!DOCTYPE html>
<html dir="ltr" lang="{{ site.locale | default: "en-US" }}">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Les apprenants de SoliCode" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% seo %}
	<link
		href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:300,400,500,700|IBM+Plex+Serif:300,400,500,600&display=swap"
		rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/style.css" type="text/css" />
	<!-- One Page Module Specific Stylesheet -->
    <link rel="stylesheet" href="{{site.baseurl}}/css/aos.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/one-page/onepage.css" type="text/css" />
    <!-- End One Page Module Specific Stylesheet -->
	<link rel="stylesheet" href="{{site.baseurl}}/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/one-page/css/et-line.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/magnific-popup.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/youtube-overlay.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/swiper.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/timeline.min.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/formation.css" type="text/css" />
	<!-- Photography Specific Stylesheet -->
    <link rel="stylesheet" href="{{site.baseurl}}/demos/landing/landing.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/demos/photography/photography.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/demos/photography/css/photography-addons.css" type="text/css" />
	<!-- End Photography Specific Stylesheet -->
	<link rel="stylesheet" href="{{site.baseurl}}/css/one-page/css/fonts.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/colors.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/custom.css" type="text/css" />
	<!-- Document Title -->
    <link rel="icon" type="image/png" sizes="30x30" href="{{site.baseurl}}/images/solicode_favicon_yellow.svg">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
</head>
<body class="stretched side-push-panel">
    {% include header.html %}
	<div id="wrapper" class="clearfix">
        {{ content }}
        {% include footer.html %}
        <!-- Go To To -->
	    <div id="gotoTop" class="icon-angle-up"></div>
    </div>

    <!-- JavaScript -->
	<script src="{{site.baseurl}}/js/jquery.js"></script>
	<script src="{{site.baseurl}}/js/plugins.infinitescroll.js"></script>
	<script src="{{site.baseurl}}/js/plugins.min.js"></script>
	<script src="https://maps.google.com/maps/api/js?key=YOUR-API-KEY"></script>
	<script src="{{site.baseurl}}/demos/photography/js/photography-addons.js"></script>
	<script src="{{site.baseurl}}/js/timeline.min.js"></script>
	<script src="{{site.baseurl}}/js/functions.js"></script>

	<script>
		(function() {
			var support = { transitions: Modernizr.csstransitions },
				// transition end event name
				transEndEventNames = { 'WebkitTransition': 'webkitTransitionEnd', 'MozTransition': 'transitionend', 'OTransition': 'oTransitionEnd', 'msTransition': 'MSTransitionEnd', 'transition': 'transitionend' },
				transEndEventName = transEndEventNames[ Modernizr.prefixed( 'transition' ) ],
				onEndTransition = function( el, callback ) {
					var onEndCallbackFn = function( ev ) {
						if( support.transitions ) {
							if( ev.target != this ) return;
							this.removeEventListener( transEndEventName, onEndCallbackFn );
						}
						if( callback && typeof callback === 'function' ) { callback.call(this); }
					};
					if( support.transitions ) {
						el.addEventListener( transEndEventName, onEndCallbackFn );
					}
					else {
						onEndCallbackFn();
					}
				};

			$('.grid-container').one( 'layoutComplete', function(){
				new GridFx(document.querySelector('.grid'), {
					imgPosition : {
						x : -0.5,
						y : 1
					},
					onOpenItem : function(instance, item) {
						instance.items.forEach(function(el) {
							if(item != el) {
								var delay = Math.floor(Math.random() * 50);
								el.style.WebkitTransition = 'opacity .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1), -webkit-transform .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1)';
								el.style.transition = 'opacity .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1), transform .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1)';
								el.style.WebkitTransform = 'scale3d(0.1,0.1,1)';
								el.style.transform = 'scale3d(0.1,0.1,1)';
								el.style.opacity = 0;
							}
						});
					},
					onCloseItem : function(instance, item) {
						instance.items.forEach(function(el) {
							if(item != el) {
								el.style.WebkitTransition = 'opacity .4s, -webkit-transform .4s';
								el.style.transition = 'opacity .4s, transform .4s';
								el.style.WebkitTransform = 'scale3d(1,1,1)';
								el.style.transform = 'scale3d(1,1,1)';
								el.style.opacity = 1;

								onEndTransition(el, function() {
									el.style.transition = 'none';
									el.style.WebkitTransform = 'none';
								});
							}
						});
					}
				});
			});

		})();
	</script>

	<!-- Contact section end -->
    <script src="{{site.baseurl}}/js/aos.js"></script>
    <script src="{{site.baseurl}}/js/youtube-overlay.js"></script>
    <!-- script aos -->
    <script>
        AOS.init();
    </script>
    <!-- video youtube -->
    <script>
        var img = $("#solicodevid ");
        var configObject = {
        sourceUrl: img.attr("data-videourl"),
        triggerElement: "#" + img.attr("id"),
        progressCallback: function() {
        console.log("Callback Invoked.");
        }
        };

        var videoBuild = new YoutubeOverlayModule(configObject);
        videoBuild.activateDeployment();

        var img2 = $("#solicodevid2 ");
        var co = {
        sourceUrl: img2.attr("data-videourl"),
        triggerElement: "#" + img2.attr("id"),
        progressCallback: function() {
        console.log("Callback Invoked.");
        }
        };

        var vide = new YoutubeOverlayModule(co);
        vide.activateDeployment();
    </script>

    <script>
        timeline(document.querySelectorAll('.timeline'), {
            forceVerticalMode: 700,
            mode: 'horizontal',
            verticalStartPosition: 'left',
            visibleItems: 4
        });
    </script>
    <!-- script aos   -->
    <script>
        AOS.init();
    </script>
</body>	
</html>
