<!DOCTYPE html>
<html dir="ltr" lang="{{ site.locale | default: "en-US" }}">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Les apprenants de SoliCode" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% seo %}
	<link
		href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:300,400,500,700|IBM+Plex+Serif:300,400,500,600&display=swap"
		rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/style.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/colors.css">
	<link rel="stylesheet" href="{{site.baseurl}}/css/swiper.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/magnific-popup.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/youtube-overlay.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/aos.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/custom.css" type="text/css" />

    <!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/include/rs-plugin/css/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/include/rs-plugin/css/layers.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/include/rs-plugin/css/navigation.css">



    {% if site.environment == 'production' %}
        <!-- Google Analytics -->
    {% endif %}
</head>
<body class="stretched">
<div id="wrapper" class="clearfix">


    {% include menu_principale.html %}



    



    {{ content }}
    {% include footer.html %}
</div>
<div id="gotoTop" class="icon-angle-up"></div>
<script src="{{site.baseurl}}/js/jquery.js"></script>
<script src="{{site.baseurl}}/js/plugins.min.js"></script>
<script src="{{site.baseurl}}/js/functions.js"></script>
<script src="{{site.baseurl}}/js/aos.js"></script>


<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
<script src="{{site.baseurl}}/include/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="{{site.baseurl}}/include/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

<script src="{{site.baseurl}}/include/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
<script src="{{site.baseurl}}/include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="{{site.baseurl}}/include/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
<script src="{{site.baseurl}}/include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="{{site.baseurl}}/include/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="{{site.baseurl}}/include/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>

	<script>
		var tpj=jQuery;
		var revapi6;
		var $ = jQuery.noConflict();

		tpj(document).ready(function() {
			if(tpj("#rev_slider_6_1").revolution == undefined){
				revslider_showDoubleJqueryError("#rev_slider_6_1");
			}else{
				revapi6 = tpj("#rev_slider_6_1").show().revolution({
					sliderType:"hero",
					jsFileLocation:"include/rs-plugin/js/",
					sliderLayout:"fullscreen",
					dottedOverlay:"none",
					delay:9000,
					navigation: {
					},
					responsiveLevels:[1240,1024,778,480],
					visibilityLevels:[1240,1024,778,480],
					gridwidth:[1240,1024,778,480],
					gridheight:[868,768,960,720],
					lazyType:"none",
					parallax: {
						type:"scroll",
						origo:"slidercenter",
						speed:400,
						levels:[10,15,20,25,30,35,40,-10,-15,-20,-25,-30,-35,-40,-45,55],
						type:"scroll",
					},
					shadow:0,
					spinner:"off",
					autoHeight:"off",
					fullScreenAutoWidth:"off",
					fullScreenAlignForce:"off",
					fullScreenOffsetContainer: "",
					fullScreenOffset: "",
					disableProgressBar:"on",
					hideThumbsOnMobile:"off",
					hideSliderAtLimit:0,
					hideCaptionAtLimit:0,
					hideAllCaptionAtLilmit:0,
					debugMode:false,
					fallbacks: {
						simplifyAll:"off",
						disableFocusListener:false,
					}
				});
			}
		});	/*ready*/
	</script>





<script>
	AOS.init();
</script>

</body>
</html>