<link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.3/dist/full.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>

<div class="bg-gradient-to-r from-violet-500 to-fuchsia-500">


  <div class="grid grid-flow-col gap-5 text-center auto-cols-max justify-center pt-6 pb-8">
    <div class="flex flex-col p-2 bg-yellow-400 rounded-box text-neutral-content justify-center">
      <span id="days" class="countdown font-mono text-5xl">
        <span style="--value:15;"></span>
      </span>
      Jours
    </div> 
    <div class="flex flex-col p-2 bg-yellow-400 rounded-box text-neutral-content">
      <span id="hours" class="countdown font-mono text-5xl">
        <span style="--value:10;"></span>
      </span>
      Heures
    </div> 
    <div class="flex flex-col p-2 bg-yellow-400 rounded-box text-neutral-content">
      <span id="minutes" class="countdown font-mono text-5xl">
        <span style="--value:24;"></span>
      </span>
      min
    </div> 
    <div class="flex flex-col p-2 bg-yellow-400 rounded-box text-neutral-content">
      <span id="seconds" class="countdown font-mono text-5xl">
        <span style="--value:45;"></span>
      </span>
      sec
    </div>
  </div>
</div>



<!-- Can be imported from JS folder or just leave it here. -->
<script>
  const countdownDate = new Date('2023-05-25T00:00:00Z').getTime();
  setInterval(() => {
    const now = new Date().getTime();
    const timeRemaining = countdownDate - now;
    const days = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
    const hours = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    const minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
    const seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);
    document.getElementById('days').innerHTML = '<span style="--value:' + days + ';"></span>';
    document.getElementById('hours').innerHTML = '<span style="--value:' + hours + ';"></span>';
    document.getElementById('minutes').innerHTML = '<span style="--value:' + minutes + ';"></span>';
    document.getElementById('seconds').innerHTML = '<span style="--value:' + seconds + ';"></span>';
  }, 1000);
</script>
