<header
  class="h-screen relative bg-gradient-to-r from-purple-900 to-blue-900 pb-32"
>
  <div class="flex justify-center">
    <div class="mt-[4rem]">
      <img src="/images/logo/logo-solicode.svg" alt="Image" width="180px" />
    </div>
  </div>
  <div class="mt-[5rem] px-2 md:pl-24 flex-col text-white text-shadow">
    <div>
      <span class="text-6xl font-extrabold uppercase">
        Soli-Hackathon
      </span>

      <div class="mt-4 text-xl leading-relaxed">
        Etes-vous passionné par les nouvelles technologies? 
        <br>Etes-vous tenté de participer à une compétition digitale?
        <br>Rejoignez-nous le <b>25 Mai</b> prochain à Solicode Tanger!
      </div>
    </div>
    <button class="bg-[#ffff00] py-2 px-4 rounded mt-4 font-semibold text-sm text-black">
      Get a Spot!
    </button>
  </div>
  <div class="absolute right-0 top-10 z-10 hidden md:block">
    <lottie-player
      src="https://lottie.host/26b1f89f-80dc-4d19-a483-bc87c6fc5b6f/A4nwrNlDr5.json"
      background="transparent"
      speed="1"
      style="width: 600px; height: 600px"
      loop
      autoplay
    ></lottie-player>
  </div>
  <div class="absolute inset-0 pt-32 space-y-24 opacity-50 overflow-hidden">
    <div class="flex justify-around">
      <img
        src="/images/hackathon-2023/header-background/undraw_code.svg"
        width="25px"
      />
      <img
        src="/images/hackathon-2023/header-background/undraw_coffee.svg"
        width="25px"
      />
      <img
        src="/images/hackathon-2023/header-background/undraw_command-button.svg"
        width="20px"
      />
      <img
        src="/images/hackathon-2023/header-background/undraw_arrow.svg"
        width="25px"
      />
    </div>
    <div class="flex justify-around">
      <img
        src="/images/hackathon-2023/header-background/undraw_pointer.svg"
        width="15px"
      />
      <div></div>
      <div></div>
      <div></div>
      <img
        src="/images/hackathon-2023/header-background/undraw_rocket.svg"
        class="hidden md:block"
        width="20px"
      />
      <div></div>
      <img
        src="/images/hackathon-2023/header-background/undraw_heart.svg"
        width="20px"
      />
      <img
        src="/images/hackathon-2023/header-background/undraw_check.svg"
        width="15px"
      />
    </div>
    <div class="flex justify-around pt-6">
      <img
        src="/images/hackathon-2023/header-background/undraw_command-line.svg"
        width="25px"
      />
      <img
        src="/images/hackathon-2023/header-background/undraw_heart.svg"
        class="hidden md:block"
        width="20px"
      />
      <img
        src="/images/hackathon-2023/header-background/undraw_sticky-note.svg"
        width="20px"
      />
      <img
        src="/images/hackathon-2023/header-background/undraw_coffee.svg"
        width="25px"
      />
      <img
        src="/images/hackathon-2023/header-background/undraw_code.svg"
        width="20px"
      />
    </div>
    <div class="hidden md:flex justify-around">
      <img
        src="/images/hackathon-2023/header-background/undraw_command-button.svg"
        width="20px"
      />
      <img
        src="/images/hackathon-2023/header-background/undraw_rocket.svg"
        width="20px"
      />
      <img
        src="/images/hackathon-2023/header-background/undraw_smiley-face.svg"
        width="20px"
      />
      <img
        src="/images/hackathon-2023/header-background/undraw_star.svg"
        width="20px"
      />
      <img
        src="/images/hackathon-2023/header-background/undraw_bar-chart.svg"
        width="15px"
      />
      <img
        src="/images/hackathon-2023/header-background/undraw_asterisk.svg"
        width="15px"
      />
    </div>
  </div>
</header>