<header
  class="h-screen relative bg-gradient-to-r from-indigo-900 to-blue-900 pt-4"
>
  <div class="flex justify-center">
    <div class="">
      <img src="/images/logo/logo-solicode.svg" alt="Image" width="180px" />
    </div>
  </div>
  <div class="mt-24 pl-24 flex-col">
    <div>
      <span class="text-6xl font-bold uppercase text-white text-shadow">
        Soli-Hackathon
      </span>
    </div>
    <button class="bg-[#ffff00] py-2 px-4 rounded mt-8 font-semibold text-sm">
      Let's Party
    </button>
  </div>
  <div class="absolute right-0 top-8 z-50">
    <lottie-player
      src="https://lottie.host/428ea888-dbd2-4316-9cc4-0448cc19088a/PFzUsNRQLL.json"
      background="transparent"
      speed="1"
      style="width: 600px; height: 600px"
      loop
      autoplay
    ></lottie-player>
  </div>
  <div class="absolute inset-0 pt-32 space-y-28 opacity-50 overflow-hidden">
    <div class="flex justify-around">
      <img
        src="/images/hackathon-2023/header-background/undraw_code.svg"
        width="25px"
      />
      <img
        src="/images/hackathon-2023/header-background/undraw_coffee.svg"
        width="25px"
      />
      <img
        src="/images/hackathon-2023/header-background/undraw_check.svg"
        class="hidden md:block"
        width="15px"
      />
      <img
        src="/images/hackathon-2023/header-background/undraw_command-button.svg"
        width="20px"
      />
      <img
        src="/images/hackathon-2023/header-background/undraw_arrow.svg"
        width="20px"
      />
    </div>
    <div class="flex justify-around hidden">
      <img
        src="/images/hackathon-2023/header-background/undraw_pointer.svg"
        width="15px"
      />
      <img
        src="/images/hackathon-2023/header-background/undraw_star.svg"
        width="20px"
      />
      <img
        src="/images/hackathon-2023/header-background/undraw_code.svg"
        class="hidden md:block"
        width="25px"
      />
      <img
        src="/images/hackathon-2023/header-background/undraw_rocket.svg"
        class="hidden md:block"
        width="20px"
      />
      <img
        src="/images/hackathon-2023/header-background/undraw_smiley-face.svg"
        class="hidden md:block"
        width="20px"
      />
      <div></div>
      <img
        src="/images/hackathon-2023/header-background/undraw_check.svg"
        width="15px"
      />
    </div>
    <div class="flex justify-around pt-6">
      <img
        src="/images/hackathon-2023/header-background/undraw_command-line.svg"
        width="25px"
      />
      <img
        src="/images/hackathon-2023/header-background/undraw_heart.svg"
        class="hidden md:block"
        width="20px"
      />
      <img
        src="/images/hackathon-2023/header-background/undraw_sticky-note.svg"
        width="20px"
      />
      <img
        src="/images/hackathon-2023/header-background/undraw_check.svg"
        width="15px"
      />
      <img
        src="/images/hackathon-2023/header-background/undraw_code.svg"
        width="15px"
      />
    </div>
    <div class="hidden md:flex justify-around">
      <img
        src="/images/hackathon-2023/header-background/undraw_command-button.svg"
        width="20px"
      />
      <img
        src="/images/hackathon-2023/header-background/undraw_rocket.svg"
        width="20px"
      />
      <img
        src="/images/hackathon-2023/header-background/undraw_smiley-face.svg"
        width="20px"
      />
      <img
        src="/images/hackathon-2023/header-background/undraw_star.svg"
        width="20px"
      />
      <img
        src="/images/hackathon-2023/header-background/undraw_bar-chart.svg"
        width="15px"
      />
      <img
        src="/images/hackathon-2023/header-background/undraw_asterisk.svg"
        width="15px"
      />
    </div>
  </div>
</header>
