<section class="px-4 py-24 mx-auto max-w-7xl pt-2 pb-2">
    <h1 class="mb-12 text-xl font-bold tracking-wide text-center text-white uppercase">We’re proud to anounce our sponsors</h1>
    <div class="grid grid-cols-2 gap-10 text-center lg:grid-cols-8 pt-2 pb-12">
      <div class="flex items-center justify-center">
        <img src="/images/hackathon-2023/sponsors/nasa-demo.png" alt="Todoist Logo" class="block object-contain h-12" />
      </div>
      <div class="flex items-center justify-center">
        <img src="/images/hackathon-2023/sponsors/nasa-demo.png" alt="Slack Logo" class="block object-contain h-12" />
      </div>
      <div class="flex items-center justify-center">
        <img src="/images/hackathon-2023/sponsors/nasa-demo.png" alt="Typeform Logo" class="block object-contain h-12" />
      </div>
      <div class="flex items-center justify-center">
        <img src="/images/hackathon-2023/sponsors/nasa-demo.png" alt="Algolia Logo" class="block object-contain h-12" />
      </div>
      <div class="flex items-center justify-center">
        <img src="/images/hackathon-2023/sponsors/nasa-demo.png" alt="Postcss Logo" class="block object-contain h-12" />
      </div>
      <div class="flex items-center justify-center">
        <img src="/images/hackathon-2023/sponsors/nasa-demo.png" alt="TailwindCSS Logo" class="block object-contain h-12" />
      </div>
      <div class="flex items-center justify-center">
        <img src="/images/hackathon-2023/sponsors/nasa-demo.png" alt="Discord Logo" class="block object-contain h-12" />
      </div>
      <div class="flex items-center justify-center">
        <img src="/images/hackathon-2023/sponsors/nasa-demo.png" alt="Vimeo Logo" class="block object-contain h-12" />
      </div>
    </div>
  </section>
  

  